body{
  background-color:#E5E5E5
  ;
  font-family: Helvetica;
}

/* Header */
.header-wrapper {
  background-color: #ff4e4e
  ;
  border-bottom: 1px solid #ff4e4e
  ;
  width: 100%;
  height: 100px;
}
.songTitle {
  top:18%;
  left:19%;
  position: fixed;
  text-align: center;
  display:inline-block;
  vertical-align: middle;
  line-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;

}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  position: relative;
  padding-top: 10px;
  height: 90px;
}

.facebook-component{
  position: relative;
  left: -770px;
  top: -7px;
}

/* Selected song */
.song-wrapper {
  padding-top:20px;
  padding-left: 30px;
  padding-right: 30px;
}

.song-heading {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 18px;
}

.song-img {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  overflow: hidden;
  background-color: #CDCDCD
}

.song-img img {
  max-height: calc(100vh - 220px);
  width: 100%;
  height: 100%;
}

.song-date {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 15px;
  margin-top: 0px;
}

.song-done-button {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.btn{
  font-family: Helvetica;
  background-color:#ff4e4e;
  border-color: #ff4e4e;
  height:40px;
  margin-right: 10px;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  color: #eeeeee
}
.btn:active{
  background-color: #ff1313;
  border-color: #ff1313;
}

.btn:hover {
  background-color: #ff2727;
  border-color: #ff2727;
  color: #000000
}

.btn-add {
  position: absolute;
  right: 0px;
}
.playButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.playButton:focus {
  outline: none;
}

.play{
  position: relative;
  top: -15px;
  height: 65px;
  width: 65px
}
.shareButton{
  position: relative;
  top: -20px;
  left: 0
}

.addButton{
  position: relative;
  margin-top: 10px;
  left: -33%;
}

.song-list-table {
  margin-top: -20px;
  height: 360px;
  overflow: scroll;
  cursor: pointer;
}
.search-button:hover {
  background-color: #ff2727;
  border-color: #ff2727;
  color: #000000
}
.search-button:active{
  background-color: #ff1313;
  border-color: #ff1313;
}
.col-5{
  margin-top: 170px
}
.byText{
  font-size: 30px;
}

.facebookLogin{
  position: relative;
  left:-70%;
}
.chatBotButton{
  left: 10%px;
  background-color:#ff4e4e;
  border-color: #ff4e4e;;
}

.chatBotButton:hover{
  background-color:#ff2727;
  border-color: #ff2727;
}
.albumArt{
  max-width:70px;
  max-height:70px;
}
.footer{
  position: relative;
  margin-left: 94%;
  margin-top: 8%;
}
.form-control{
  background-color: #E5E5E5;
}
.searchField{
  position: relative;
  width: 250px;
  top: -25px;
  padding-right: 20px;
}

