body{
  background-color:#E5E5E5
  ;
  font-family: Helvetica;
}

/* Header */
.header-wrapper {
  background-color: #ff4e4e
  ;
  border-bottom: 1px solid #ff4e4e
  ;
  width: 100%;
  height: 100px;
}
.songTitle {
  top:5%;
  left:33%;
  position: relative;
  text-align: center;
  display:inline-block;
  vertical-align: middle;
  line-height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;

}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  position: relative;
  padding-top: 10px;
  height: 90px;
}

.facebook-component{
  position: relative;
  left: -770px;
  top: -7px;
}

/* Selected song */
.song-wrapper {
  padding-top:20px;
  padding-left: 30px;
  padding-right: 30px;
}

.song-heading {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 18px;
}

.song-img {
  position: relative;
  margin-top: -20px;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #E5E5E5
}

.song-img img {
  max-height: calc(100vh - 220px);
  width: 100%;
  height: 100%;
}

.song-date {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 15px;
  margin-top: 0px;
}

.song-done-button {
  position: relative;
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 20px;
  margin-top: 10px;
  left: 47%
}

.btn{
  font-family: Helvetica;
  background-color:#ff4e4e;
  border-color: #ff4e4e;
  height:40px;
  margin-right: 10px;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  color: #eeeeee
}
.btn:active{
  background-color: #ff1313;
  border-color: #ff1313;
}

.btn:hover {
  background-color: #ff2727;
  border-color: #ff2727;
  color: #000000
}
.btn-disabled {
  opacity: 0.6;
  pointer-events: none;
}
.btn-add {
  background-color: #910000;
  border-color: #910000;
  position: absolute;
  right: 0px;
}
.playButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.playButton:focus {
  outline: none;
}

.play{
  position: relative;
  top: -15px;
  height: 65px;
  width: 65px
}
.shareButton{
  position: relative;
  top: -20px;
  left: 0
}

.addButton{
  position: relative;
  left: 770px;
  top: -155px;
}

.song-list-table {
  margin-top: -25px;
  height: 100%;
  width: 100%;
  overflow: auto;
  cursor: pointer;
  padding-top:-50px;

}
.search-button:hover {
  background-color: #ff2727;
  border-color: #ff2727;
  color: #000000
}
.search-button:active{
  background-color: #ff1313;
  border-color: #ff1313;
}
.col-5{
  position: static;
  margin-top: 180px
}

.byText{
  font-size: 30px;
}

.facebookLogin{
  position: relative;
  left:-70%;
}
.chatBotButton{
  left: 10%px;
  background-color:#ff4e4e;
  border-color: #ff4e4e;;
}

.chatBotButton:hover{
  background-color:#ff2727;
  border-color: #ff2727;
}
.albumArt{
  height:100px;
  max-width: 100%;
}

.form-control{
  background-color: #E5E5E5;
}
.searchField{
  position: relative;
  top:-10px;
  padding-right: 10px;
  left:101%;
}
.input-group{
  position: relative;
  align-items: center;
  align-content: center;
  top:-15px;
  width:400px
}
.input-group-append{
  display: inline block;
  position: relative;
  align-items: center;
  align-content: center;
  top:-10px;
  left:101%
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.card {
    display: inline-block;
}
.chatButton{
  position: relative;
  top:-50px;
  padding-top:-50px;
  margin-left: 95%;
}
.songListFooter{
  position: relative;
  height: 280px;
  width: 1720px;
}


